<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo - Todo Form</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
{% include "header.jinja"%}

<body>
<form method="POST">
  <div class="mb-3">
    <label for="aufgabe" class="form-label">Aufgabe</label>
    <input type="text" class="form-control" id="aufgabe" name="aufgabe">
  </div>
  <div class="mb-3">
    <label for="deadline" class="form-label">Deadline</label>
    <input type="date" class="form-control" id="deadline" name="deadline">
  </div>
  <button type="submit" class="btn btn-primary">Abschicken</button>
</form>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>

{% include "footer.jinja"%}
