<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Touri </title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" >

</head>


