{% include "header.jinja" %}

<body>
{% if selection %}
{% for name, data in selection.items() %}
    name, data
{% endfor %}
{% endif %}

<!-- Dauer -->
    <form method="POST" class="row justify-content-center">
         <h5> Dauer</h5>
       <div class="input-group mb-3">
             <input name="dauer" id="a" class="form-check-input mt-0" type="radio" value="0" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input name="dauer" id="b" class="form-check-input mt-0" type="radio" value="1" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="dauer" id="c" class="form-check-input mt-0" type="radio" value="2" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="dauer" id="d" class="form-check-input mt-0" type="radio" value="3" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="dauer" id="e" class="form-check-input mt-0" type="radio" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>


<!-- Höhenmeter -->
         <h5> Höhenmeter </h5>
       <div class="input-group mb-3">
             <input name="hoehenmeter" id="f" class="form-check-input mt-0" type="radio" value="500" aria-label="Checkbox for following text">
             <h6>  <500 Höhenmeter </h6>
        </div>
        <div class="input-group mb-3">
             <input name="hoehenmeter" id="g" class="form-check-input mt-0" type="radio" value="1000" aria-label="Checkbox for following text">
             <h6> bis 1000 Höhenmeter </h6>
        </div>
        <div class="input-group mb-3">
             <input name="hoehenmeter" id="h" class="form-check-input mt-0" type="radio" value="1500" aria-label="Checkbox for following text">
             <h6> bis 1500 Höhenmeter </h6>
        </div>
        <div class="input-group mb-3">
             <input name="hoehenmeter" id="i" class="form-check-input mt-0" type="radio" value="2000" aria-label="Checkbox for following text">
             <h6> bis 2000 Höhenmeter </h6>
        </div>
        <div class="input-group mb-3">
             <input name="hoehenmeter" id="j"  class="form-check-input mt-0" type="radio" value="3000" aria-label="Checkbox for following text">
             <h6>  bis 3000 Höhenmeter </h6>
        </div>

<!-- Tiefenmeter -->
         <h5> Tiefenmeter </h5>
       <div class="input-group mb-3">
             <input name="tiefenmeter" id="k" class="form-check-input mt-0" type="radio" value="600" aria-label="Checkbox for following text">
             <h6>  <600 Tiefenmeter </h6>
        </div>
        <div class="input-group mb-3">
             <input name="tiefenmeter" id="l" class="form-check-input mt-0" type="radio" value="1000" aria-label="Checkbox for following text">
             <h6> bis 1000 Tiefenmeter </h6>
        </div>
        <div class="input-group mb-3">
             <input name="tiefenmeter" id="m" class="form-check-input mt-0" type="radio" value="1500" aria-label="Checkbox for following text">
             <h6>  bis 1500 Tiefenmeter </h6>
        </div>
        <div class="input-group mb-3">
             <input name="tiefenmeter" id="n" class="form-check-input mt-0" type="radio" value="2000" aria-label="Checkbox for following text">
             <h6>  bis 2000 Tiefenmeter </h6>
        </div>
        <div class="input-group mb-3">
             <input name="tiefenmeter" id="o" class="form-check-input mt-0" type="radio" value="3000" aria-label="Checkbox for following text">
             <h6> bis 3000 Höhenmeter  </h6>
        </div>

<!-- Technische Schwierigkeit -->
         <h5> Technische Schwierigkeit</h5>
       <div class="input-group mb-3">
             <input name="schwierigkeit" id="p" class="form-check-input mt-0" type="radio" value="1" aria-label="Checkbox for following text">
             <h6> Level 1 </h6>
        </div>
        <div class="input-group mb-3">
             <input name="schwierigkeit" id="q" class="form-check-input mt-0" type="radio" value="2" aria-label="Checkbox for following text">
             <h6> Level 2 </h6>
        </div>
        <div class="input-group mb-3">
             <input name="schwierigkeit" id="r" class="form-check-input mt-0" type="radio" value="3" aria-label="Checkbox for following text">
             <h6> Level 3 </h6>
        </div>
        <div class="input-group mb-3">
             <input name="schwierigkeit" id="s" class="form-check-input mt-0" type="radio" value="4" aria-label="Checkbox for following text">
             <h6>  Level 4  </h6>
        </div>
        <div class="input-group mb-3">
             <input name="schwierigkeit" id="t" class="form-check-input mt-0" type="radio" value="5" aria-label="Checkbox for following text">
             <h6>  Level 5 </h6>
        </div>

<!-- Erreichbarkeit mit ÖV -->
         <h5> Erreichbarkeit mit der ÖV</h5>
       <div class="input-group mb-3">
             <input name="erreichbarkeit" id="erreichbar" class="form-check-input mt-0" type="radio" value="1" aria-label="Checkbox for following text">
             <h6>  Erreichbar mit der ÖV </h6>
        </div>
        <div class="input-group mb-3">
             <input name="erreichbarkeit" id="unerreichbar" class="form-check-input mt-0" type="radio" value="0" aria-label="Checkbox for following text">
             <h6> Nicht erreichbar mit der ÖV </h6>
        </div>


<!-- Gefahrenstufe -->

        <h5> Gefahrenstufe</h5>

       <div class="input-group mb-3">
             <input name ="gefahrenstufe" id ="w" class="form-check-input mt-0" type="radio" value="1" >
             <h6>  Level 1 </h6>
       </div>

        <div class="input-group mb-3">
             <input name ="gefahrenstufe" id ="ww" class="form-check-input mt-0" type="radio" value="2" >
             <h6>  Level 2 </h6>
        </div>

        <div class="input-group mb-3">
             <input name ="gefahrenstufe" id ="www" class="form-check-input mt-0" type="radio" value="3" >
             <h6> Level 3 </h6>
        </div>

        <div class="input-group mb-3">
             <input name ="gefahrenstufe" id ="wwww" class="form-check-input mt-0" type="radio" value="4" >
             <h6> Level 4 </h6>
        </div>
        <div class="input-group mb-3">
             <input name ="gefahrenstufe" id ="wwx" class="form-check-input mt-0" type="radio" value="5" >
             <h6> Level 5 </h6>
        </div>

<!-- Button 'Touren anzeigen' -->

        <div>
            <p>
            <button type="submit" class="btn btn-primary">Touren anzeigen</button>
            </p>
        </div>

    </form>





</body>

{% include "footer.jinja" %}