{% include "header.jinja" %}

<body>

    <h1>Tourenplaner</h1>

<!-- Dauer -->
    <form method="POST" class="row justify-content-center">
         <h5> Dauer</h5>
       <div class="input-group mb-3">
             <input name="a" id="a" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>


<!-- Höhenmeter -->
         <h5> Höhenmeter </h5>
       <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>

<!-- Tiefenmeter -->
         <h5> Tiefenmeter </h5>
       <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>

<!-- Technische Schwierigkeit -->
         <h5> Technische Schwierigkeit</h5>
       <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>

<!-- Erreichbarkeit mit ÖV -->
         <h5> Erreichbarkeit mit der ÖV</h5>
       <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Erreichbar mit der ÖV </h6>
        </div>
        <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> Nicht erreichbar mit der ÖV </h6>
        </div>


<!-- Gefahrenstufe -->

           <h5> Gefahrenstufe</h5>

       <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>


<!-- Button 'Touren anzeigen' -->
        <div class="fixed-bottom">
            <button type="submit" class="btn btn-secondary btn-lg col-2">Touren anzeigen</button>
        </div>

    </form>





</body>

{% include "footer.jinja" %}