{% include "header.jinja" %}

<body>

    <h1>Tourenplaner</h1>

<!-- Dauer -->
    <form method="POST" class="row justify-content-center">
         <h5> Dauer</h5>
       <div class="input-group mb-3">
             <input name="a" id="a" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input name="b" id="b" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="c" id="c" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="d" id="d" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="e" id="e" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>


<!-- Höhenmeter -->
         <h5> Höhenmeter </h5>
       <div class="input-group mb-3">
             <input name="f" id="f" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input name="g" id="g" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="h" id="h" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="i" id="i" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="j" id="j"  class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>

<!-- Tiefenmeter -->
         <h5> Tiefenmeter </h5>
       <div class="input-group mb-3">
             <input name="k" id="k" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input name="l" id="l" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="m" id="m" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="n" id="n" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="o" id="o" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>

<!-- Technische Schwierigkeit -->
         <h5> Technische Schwierigkeit</h5>
       <div class="input-group mb-3">
             <input name="p" id="p" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>
        <div class="input-group mb-3">
             <input name="q" id="q" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> 1-2 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="r" id="r" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  2-3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="s" id="s" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  > 3 Stunden </h6>
        </div>
        <div class="input-group mb-3">
             <input name="t" id="t" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Zeit Spielt keine Rolle </h6>
        </div>

<!-- Erreichbarkeit mit ÖV -->
         <h5> Erreichbarkeit mit der ÖV</h5>
       <div class="input-group mb-3">
             <input name="u" id="u" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  Erreichbar mit der ÖV </h6>
        </div>
        <div class="input-group mb-3">
             <input name="v" id="v" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6> Nicht erreichbar mit der ÖV </h6>
        </div>


<!-- Gefahrenstufe -->

           <h5> Gefahrenstufe</h5>

       <div class="input-group mb-3">
             <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text">
             <h6>  <1 Stunde </h6>
        </div>


<!-- Button 'Touren anzeigen' -->
        <div class="fixed-bottom">
            <button type="submit" class="btn btn-secondary btn-lg col-2">Touren anzeigen</button>
        </div>

    </form>





</body>

{% include "footer.jinja" %}