{% include "header.jinja" %}
<form method="POST">
  <div class="mb-3">
    <label for="Name der Tour" class="form-label">Name der Tour</label>
    <input type="text" class="form-control" id="Name der Tour" name="Name der Tour">
  </div>
      <form method="POST" class="row justify-content-center">
        <div class="col-5">
            <label for="Dauer" class="form-label">Dauer</label>
                <select id="dauer" name="dauer" class="form-select">
                    <option selected>Wählen</option>
                    <option value="<1"><1h</option>
                    <option value="dark red">Bordeaux</option>
                    <option value="purple">Violett</option>
                    <option value="lavender">Lavendel</option>
                    <option value="light blue">Hellblau</option>
                    <option value="navy">Dunkelblau</option>

                </select>
        </div>

  <div class="mb-3">
    <label for="deadline" class="form-label">Datum der Tour</label>
    {# todo: Datumsanzeige in HTML von US Format in DE Format umwandeln. #}
    <input type="date" class="form-control" id="deadline" name="deadline">
  </div>
  <button type="submit" class="btn btn-primary">Abschicken</button>
</form>
{% include "footer.jinja" %}