{% include "header.jinja" %}
<form method="POST">
  <div class="mb-3">
    <label for="Name der Tour" class="form-label">Name der Tour</label>
    <input type="text" class="form-control" id="Name der Tour" name="Name der Tour">
  </div>
      <form method="POST" class="row justify-content-center">
        <div class="col-5">
            <label for="Dauer" class="form-label">Dauer</label>
                <select id="Dauer" name="dauer" class="form-select">
                    <option selected>Wählen</option>
                    <option value="<1"><1 Stunden</option>
                    <option value="1">1-2 Stunden</option>
                    <option value="2">2-3 Stunden</option>
                    <option value="3"> >3 Stunden</option>
                    <option value="4">Dauer egal</option>

                </select>
        </div>
      </form>

        <div class="col-5">
            <label for="Höhenmeter" class="form-label">Höhenmeter</label>
                <select id="Höhenmeter" name="Höhenmeter" class="form-select">
                    <option selected>Wählen</option>
                    <option value="<1"><1 Stunden</option>
                    <option value="1">1-2 Stunden</option>
                    <option value="2">2-3 Stunden</option>
                    <option value="3"> >3 Stunden</option>
                    <option value="4">Dauer egal</option>

                </select>
        </div>

        <div class="col-5">
            <label for="Tiefenmeter" class="form-label">Tiefenmeter</label>
                <select id="Tiefenmeter" name="Tiefenmeter" class="form-select">
                    <option selected>Wählen</option>
                    <option value="<1"><1 Stunden</option>
                    <option value="1">1-2 Stunden</option>
                    <option value="2">2-3 Stunden</option>
                    <option value="3"> >3 Stunden</option>
                    <option value="4">Dauer egal</option>

                </select>
        </div>

            <div class="col-5">
            <label for="Technische Schwierigkeit" class="form-label">Technische Schwierigkeit</label>
                <select id="Technische Schwierigkeit" name="Technische Schwierigkeit" class="form-select">
                    <option selected>Wählen</option>
                    <option value="<1"><1 Stunden</option>
                    <option value="1">1-2 Stunden</option>
                    <option value="2">2-3 Stunden</option>
                    <option value="3"> >3 Stunden</option>
                    <option value="4">Dauer egal</option>

                </select>
        </div>
                <div class="col-5">
            <label for="ÖV" class="form-label">Erreichbarkeit mit ÖV</label>
                <select id="ÖV" name="ÖVt" class="form-select">
                    <option selected>Wählen</option>
                    <option value="1">Ja</option>
                    <option value="0">Nein</option>
                </select>
        </div>
    <p>
     <br>
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </p>
</form>

{% include "footer.jinja" %}